<div class="row col-12">
        {% if category.picture is not null %}
    <div class="col-12 col-lg-4">
        <img src="{{ asset(category.picture) }}" alt="Image de {{ category.title}}" style="max-width: 200px;" class="mx-auto d-block" id="category_imageUrl">
        <img src="{{ asset(category.thumbnail) }}" alt="Thumbnail de {{ category.title}}" style="max-width: 200px;" class="mx-auto d-block" id="category_thumbnailUrl">
    </div>
    <div class="col-12 col-lg-8 border-left">
        {% else %}
    <div class="col-12 border-left">
        {% endif %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
        {{ form_end(form) }}
    </div>
</div>

<script type="text/javascript">
    document.querySelectorAll('[type="file"]')
        .forEach(function(input) {
            input.addEventListener("change", function(e) {
                e.currentTarget.closest('.custom-file').querySelector('label').textContent = e.currentTarget.value;
            });
        });
</script>