{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
    <h1>{{ category.title }}</h1>

    <a type="button" href="{{ path('category_edit', {'id': category.id}) }}" class="btn btn-warning"><i class="far fa-edit"></i> Modifier</a>

    <div class="row mt-3">
        <div class="col-4">
            <img src="{{ asset(category.picture) }}" alt="Image de {{ category.title}}" class="mx-auto d-block">
        </div>
        <div class="col-8 border-left">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">Nom</th>
                        <td>{{ category.title }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


<a href="{{ path('category_index') }}">Retour à l'accueil</a>

{% endblock %}
