{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Tous les produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th></th>
                <th>Nom</th>
                <th>Prix</th>
                <th>Disponibilité</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products|sort((a, b) => a.name <=> b.name) %}
            <tr>
                <td>{{ product.id }}</td>
                <td><img src="{{ product.picture }}_th.png" alt="Image de {{ product.name}}"></td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }} €</td>
                <td>{{ product.availability ? 'En stock' : 'Hors stock' }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Create new</a>
{% endblock %}
