{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
<h1>Tous les produits</h1>

<a type="button" href="{{ path('product_new') }}" class="btn btn-success m-3">Nouveau produit</a>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th></th>
            <th>Nom</th>
            <th>Prix</th>
            <th>Disponibilité</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products|sort((a, b) => a.name <=> b.name) %}
        <tr>
            <td>{{ product.id }}</td>
            <td><img src="{{ asset(product.thumbnail) }}" style="max-width: 77px;" alt="Image de {{ product.name}}"></td>
            <td class="position-relative"><a href="{{ path('product_show', {'id': product.id}) }}" class=" stretched-link">{{ product.name }}</td><a></td>
                <td>{{ product.price }} €</td>
                <td>{{ product.availability ? 'En stock' : 'Hors stock' }}</td>
                <td class="d-flex">
                    <a type="button" href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-warning"><i class="far fa-edit"></i></a>
                    
                    <div class="dropdown mx-2">
                        <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="far fa-trash-alt"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{ path('product_delete', {'id': product.id}) }}">Confirmer</a>
                            <a class="dropdown-item" href="#">Annuler</a>
                        </div>
                    </div>
                </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="10">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
