{% extends 'base.html.twig' %}

{% block title %}DeliveryPoint index{% endblock %}

{% block body %}
<h1>Tous les points de retrait</h1>

<a type="button" href="{{ path('deliveryPoint_new') }}" class="btn btn-success m-3">Nouveau point de retrait</a>

<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Ville</th>
            <th>Point de retrait</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for deliveryPoint in delivery_points|sort((a, b) => a.city.name <=> b.city.name) %}
        <tr>
            <td>{{ deliveryPoint.id }}</td>
            <td>{{ deliveryPoint.city.name }}</td>
            <td class="position-relative"><a href="{{ path('delivery_point_show', {'id': deliveryPoint.id}) }}" class="stretched-link">{{ deliveryPoint.name }}</td><a></td>
            <td class="d-flex">
                <a type="button" href="{{ path('delivery_point_edit', {'id': deliveryPoint.id}) }}" class="btn btn-warning"><i class="far fa-edit"></i></a>
                
                <div class="dropdown mx-2">
                    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="far fa-trash-alt"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ path('delivery_point_delete', {'id': deliveryPoint.id}) }}">Confirmer</a>
                        <a class="dropdown-item" href="#">Annuler</a>
                    </div>
                </div>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="10">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}