{% extends 'base.html.twig' %}

{% block title %}DeliveryPoint{% endblock %}

{% block body %}
<h1>{{ delivery_point.name }}</h1>

<div id="map" style="width: 100%; height: 400px;">
    
{# Carte Leaflet #}
<script>
    //Appel et configuration carte
    var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
			osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
			osm = L.tileLayer(osmUrl, {maxZoom: 18, attribution: osmAttrib});

    var rotation = Math.PI/4;
    var map = L
        .map('map', {rotate: true})
        .setView("{{ delivery_point.location|json_encode|trim('\"') }}".split(', '), 13)
        .addLayer(osm)
        // .setBearing("90")
    ;

    var marker = L.marker("{{ delivery_point.location|json_encode|trim('\"') }}".split(', ')).addTo(map);

    map.setBearing("90");
    // map.on('mousemove', logMouse);

    // Fonds de carte

    // Ajout marqueurs
    // var plages = new L.LayerGroup();

    // function onMapClick(e) {
    //     alert("You clicked the map at " + e.latlng);
    // }

    // map.on('click', onMapClick);
</script>


</div>
<div class="row border-top">
    <table class="table table-borderless">
        <tbody>
            <tr>
                <th scope="row">Ville</th>
                <td>{{ delivery_point.city }}</td>
            </tr>
            <tr>
                <th scope="row">Point de retrait</th>
                <td>{{ delivery_point.name }}</td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td>{{ delivery_point.description }}</td>
            </tr>
        </tbody>
    </table>
</div>

    <a href="{{ path('delivery_point_index') }}">back to list</a>
    {% endblock %}

    {% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    {% endblock %}
    
    {% block javascripts %}
    {# <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script> #}
    
    <script src="{{ asset('assets/js/leaflet-src.js') }}"></script>
    {% endblock %}
