{% extends 'base.html.twig' %}

{% block title %}{{ delivery_point.name }}{% endblock %}

{% block delivery_point %}active{% endblock %}

{% block body %}

<div class="row">
    <h1 class='mx-auto'>{{ block('title') }} <a href="{{ path('delivery_point_index') }}" class="h6">Retour à la liste des points de retrait</a></h1>
</div>

<div class="row">

    <div id="map" class="d-none d-lg-block col-lg-4" style="height: 80vh;">
    </div>

    <div class="col col-lg-8 row">
        <div class="col-12">

            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">Ville</th>
                        <td>{{ delivery_point.city }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Point de retrait</th>
                        <td>{{ delivery_point.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Description</th>
                        <td>{{ delivery_point.description }}</td>
                    </tr>
                    <tr>
                        <th scope="row" colspan="2"><a type="button" href="{{ path('delivery_point_edit', {'id': delivery_point.id}) }}" class="btn btn-warning"><i class="far fa-edit"></i> Modifier</a></th>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

{# Carte Leaflet #}
<script>
    //Appel et configuration carte
    var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
        osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        osm = L.tileLayer(osmUrl, {
            maxZoom: 18,
            attribution: osmAttrib
        });

    var rotation = Math.PI / 4;
    var map = L
        .map('map')
        .setView("{{ delivery_point.location|json_encode|trim('\"') }}".split(', '), window.innerHeight / 80)
        .addLayer(osm);

    var marker = L.marker("{{ delivery_point.location|json_encode|trim('\"') }}".split(', ')).bindPopup("<p class='font-weight-bold'>Commande #{{ delivery_point.id }}</p><p>{{ delivery_point.name }}</p>").addTo(map).openPopup();

    // map.on('mousemove', logMouse);

    // Fonds de carte

    // Ajout marqueurs
    var plages = new L.LayerGroup();
</script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
{% endblock %}

{% block javascripts %}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
{% endblock %}