<head>
    <meta charset="UTF-8">
    <style type="text/css">
        @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,700italic,900);

        body {
            font-family: 'Roboto', Arial, sans-serif !important;
        }

        a {
            color: inherit;
            text-decoration: none;
            outline: 0;
        }

        a:hover,
        a:active,
        a:focus {
            outline: 0;
        }

        a:visited {
            color: #FFF;
        }

        span.MsoHyperlink {
            mso-style-priority: 99;
            color: inherit;
        }

        span.MsoHyperlinkFollowed {
            mso-style-priority: 99;
            color: inherit;
        }
    </style>
</head>

<body style="margin: 0; padding: 0;background-color:#EEEEEE;">
    <div style="display:none;font-size:1px;color:#333333;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">
        Contactez nous au +33 (0)6 94 44 77 44 ou par reponse à cet email pour toutes questions relatives à votre commande
    </div>
    <table cellspacing="0" style="margin:0 auto; width:100%; border-collapse:collapse; background-color:#EEEEEE; font-family:'Roboto', Arial !important">
        <tbody>
            <tr>
                <td align="center" style="padding-top:29px; padding-bottom:50px">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td align="center" style="font-family:'Roboto', Arial !important">
                                    <a href="https://onthespot.link/" target="_blank" style="color:#128ced; text-decoration:none;outline:0;"><img src="https://onthespot.link/images/de6fcfdd7471e55b159e7aef38a8a67a.png" border="0"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" style="padding:20px 23px 0 23px">
                    <table width="600" style="background-color:#FFF; margin:0 auto; border-radius:5px; border-collapse:collapse">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <table width="500" style="margin:0 auto">
                                        <tbody>

                                            <tr>
                                                <td align="center" style="font-family:'Roboto', Arial !important">
                                                    <h2 style="margin:0; font-weight:bold; font-size:40px; color:#444; text-align:center; font-family:'Roboto', Arial !important">
                                                        Votre commande a été recue!
                                                    </h2>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="padding:15px 0 20px 0; font-family:'Roboto', Arial !important">
                                                    <p style="margin:0; font-size:18px; color:#000; line-height:24px; font-family:'Roboto', Arial !important">
                                                        Vous recevrez un email quand votre commande sera validée
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="padding-bottom:30px">
                                                    <table style="width:255px; margin:0 auto;">
                                                        <tbody>
                                                            <tr>
                                                                <td width="255" style="background-color:#008AF1; color: #fff; text-align:center; border-radius:5px; vertical-align:middle; padding:13px 0">
                                                                    <a href="https://onthespot.link/commandes">Suivi de commande</a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" cellspacing="0" style="padding:0 0 30px 0; vertical-align:middle">
                                    <table width="550" style="border-collapse:collapse; background-color:#FaFaFa; margin:0 auto; border:1px solid #E5E5E5">
                                        <tbody>
                                            <tr>
                                                <td width="276" style="vertical-align:top; border-right:1px solid #E5E5E5">
                                                    <table style="width:100%; border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td style="vertical-align:top; padding:18px 18px 8px 23px; font-family:'Roboto', Arial !important">
                                                                    <p style="font-size:16px; color:#333333; text-transform:uppercase; font-weight:900; margin:0; font-family:'Roboto', Arial !important">
                                                                        Commande :
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr style="">
                                                                <td style="vertical-align:top; padding:0 18px 18px 23px">
                                                                    <table width="100%" style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font-family:'Roboto', Arial !important">
                                                                                    <p style="font-size:16px; color:#000; margin:0 0 5px 0; font-family:'Roboto', Arial !important">
                                                                                        Commande n° :
                                                                                    </p>
                                                                                </td>
                                                                                <td align="left" style="font-family:'Roboto', Arial !important">
                                                                                    <p style="font-size:16px; color:#000; margin:0 0 5px 0; font-family:'Roboto', Arial !important">
                                                                                        {{ order.id }}
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family:'Roboto', Arial !important">
                                                                                    <p style="font-size:16px; color:#000; margin:0 0 5px 0; font-family:'Roboto', Arial !important">
                                                                                        Date :
                                                                                    </p>
                                                                                </td>
                                                                                <td align="left" style="font-family:'Roboto', Arial !important">
                                                                                    <p style="font-size:16px; color:#000; margin:0 0 5px 0; font-family:'Roboto', Arial !important">
                                                                                        {{ order.createdAt|date("d/m/Y") }}
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family:'Roboto', Arial !important">
                                                                                    <p style="font-size:16px; color:#000; margin:0 0 5px 0; font-family:'Roboto', Arial !important">
                                                                                        Heure :
                                                                                    </p>
                                                                                </td>
                                                                                <td align="left" style="font-family:'Roboto', Arial !important">
                                                                                    <p style="font-size:16px; color:#000; margin:0 0 5px 0; font-family:'Roboto', Arial !important">
                                                                                        {{ order.createdAt|date("H:i") }}
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td style="vertical-align:top">
                                                    <table width="100%" style="border-collapse:collapse">
                                                        <tbody>
                                                            <tr>
                                                                <td style="vertical-align:top; padding:18px 18px 8px 23px; font-family:'Roboto', Arial !important">
                                                                    <p style="font-size:16px; color:#333333; text-transform:uppercase; font-weight:900; margin:0; font-family:'Roboto', Arial !important">
                                                                        Point de retrait :
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td style="vertical-align:top; padding:0 18px 18px 23px; font-family:'Roboto', Arial !important">
                                                                    <table width="100%" style="border-collapse:collapse">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="font-family:'Roboto', Arial !important">
                                                                                    <p style="font-size:16px; color:#000; margin:0 0 5px 0; font-family:'Roboto', Arial !important">
                                                                                        {{ order.deliveryPoint.name }}
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family:'Roboto', Arial !important">
                                                                                    <p style="font-size:16px; color:#000; margin:0 0 5px 0; font-family:'Roboto', Arial !important">
                                                                                        {{ order.deliveryPoint.city }}
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td style="font-family:'Roboto', Arial !important">
                                                                                    <p style="font-size:16px; color:#000; margin:0 0 5px 0; font-family:'Roboto', Arial !important">
                                                                                        à {{ order.deliveryTime|date("H:i") }}
                                                                                    </p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" cellspacing="0" style="padding:0; vertical-align:middle">
                                    <table width="550" style="border-collapse:collapse; background-color:#FaFaFa; margin:0 auto; border-bottom:1px solid #E5E5E5">
                                        <tbody>
                                            <tr>
                                                <td width="380" align="left" style="padding:15px 0 15px 25px; font-family:'Roboto', Arial !important">
                                                    <p style="text-transform:uppercase;font-size:16px; color:#333333; margin:0; font-weight:400; font-family:'Roboto', Arial !important; ">
                                                        <span style="font-weight: 900;"> Contenu de la commande</span>
                                                    </p>
                                                </td>
                                                <td width="60" align="right" style="font-family:'Roboto', Arial !important">
                                                    <p style="margin:0; font-size:14px; color:#333333;padding:0;font-family:'Roboto', Arial !important;text-align:center;">
                                                        Quantité</p>
                                                </td>
                                                <td width="80" align="right" style="font-family:'Roboto', Arial !important;padding-right:10px;">
                                                    <p style="margin:0; font-size:14px; color:#333333;padding:0;font-family:'Roboto', Arial !important;text-align:right;">
                                                        Prix</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            {% set total = 0 %}
                            {% for line in order.orderProducts %}

                            <tr>
                                <td style=" font-family:'Roboto', Arial !important;padding:0;" align="center">
                                    <table width="550" style="border-collapse:collapse;margin: 0 auto;border-bottom: 1px solid #EBEBEB">
                                        <tbody>
                                            <tr>
                                                <td width="117" align="right" style="padding:24px 0 24px 10px; text-align:left;">
                                                    <img src="https://www.onthespot.link/back/public/{{ line.product.thumbnail }}" border="0">
                                                </td>
                                                <td width="270" style="vertical-align:middle; padding:0; font-family:'Roboto', Arial !important;">
                                                    <p style="font-size:16px; margin:0; color:#000; font-family:'Roboto', Arial !important">
                                                        <a href="https://onthespot.link/produit/{{ line.product.slug }}" target="_blank" style="text-decoration:none; color:#000; outline:0;">
                                                            {{ line.product.name }}
                                                        </a>
                                                    </p>
                                                </td>
                                                <td align="center" width="60" style="vertical-align:middle; font-family:'Roboto', Arial !important;padding:0;">
                                                    <p style="font-size:18px; color:#000; margin:0; font-family:'Roboto', Arial !important;text-align:center;">
                                                        {{ line.quantity }}
                                                    </p>
                                                </td>
                                                <td align="center" width="80" style="font-family:'Roboto', Arial !important;padding:0 10px 0 0;">
                                                    <p style="font-size:18px; color:#bc0101; margin:0; font-family:'Roboto', Arial !important;text-align:center;font-weight:bold;text-align: right;">
                                                        {{ line.product.price * line.quantity }}
                                                        {% set total = total + (line.quantity * line.product.price) %}
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            {% endfor %}

                            <tr>
                                <td align="center" style="padding-top:24px; padding-bottom:20px">
                                    <table width="520" style="border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td align="right" style="padding-bottom:15px; font-family:'Roboto', Arial !important">
                                                    <p style="font-size:18px; color:#000; font-weight:900; margin:0; font-family:'Roboto', Arial !important">
                                                        Total ({{ order.orderProducts|length }} produits):
                                                    </p>
                                                </td>
                                                <td align="right" style="padding-bottom:15px; font-family:'Roboto', Arial !important">
                                                    <p style="font-size:18px; color:#bc0101; font-weight:bold; margin:0; font-family:'Roboto', Arial !important">
                                                        {{ total }} €
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="center" style="padding-top:20px">
                    <table width="604" style="border-collapse:collapse;background-color:#FFF; font-family:'Roboto', Arial !important; border-radius:5px">
                        <tbody>
                            <tr>
                                <td colspan="4" style="vertical-align:middle;background-color: #128ced;border-radius: 5px 5px 0 0;">
                                    <table style="background-color:#128ced; width:100%; border-radius:5px 5px 0 0; border-collapse:collapse">
                                        <tbody>
                                            <tr>
                                                <td align="center" style="vertical-align:middle; padding:22px 0; font-family:'Roboto', Arial !important">
                                                    <p style="color:#FFF; font-size:18px; margin:0; font-family:'Roboto', Arial !important">
                                                        Contactez nous au <a href="tel:+4942219447744" target="_blank" style="text-decoration:none; color:#FFF; font-weight:bold;outline:0;">+33 (0)6 94 44 77 44</a> ou par reponse à cet email pour toutes questions relatives à votre commande
                                                    </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>